@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.field {
    margin-bottom: 10px;
}

.actions {
    margin-bottom: 10px;
}

.title {
        width: 100%;
        margin-bottom: 16px;
}

.name {
    width: 100%;
    margin-bottom: 16px;
}


textarea {
    width: 100%;
    margin-bottom: 16px;
}

input[type="file"] {
        margin-bottom: 16px;
}

.notice {
    color: green;
}